/*
============================================
; Title: Assignment 1.3 - Environment Setup
; File Name: theme.css
; Author: Professor Krasso
; Date: 9 January 2022
; Modified By: Seth Kerrey
; Description: 
;   Styling for the index.html file.
; Resources: 
;   CSS style, classes, and id's came from guidance in the assignment instructions, 
;   style guide & buwebdev repo/web-330
;       https://github.com/buwebdev/web-330 
;       "WEB 330 HTML, CSS, and JavaScript Requirements.pdf"
===========================================
*/

/* Body styling */

/* Light theme */ 
body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4f3674;
    --h1-background-color: #3c275a;
    --h1-border-color: #d6a800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #d6a800;
    --anchor-hover-color: #4f3674;
    --anchor-hover-background-color: #d6a800;
    --card-background-color: #fff;
    --card-title-color: #4f3674;
    --btn-background-color: #4f3674;
    --btn-color: #fff;
    --btn-hover-background-color: #d6a800;
    --btn-hover-color: #4f3674;
    --input-border-color: #ccc;
}

/* Dark theme */
body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #d176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #d176e1;
    --btn-background-color: #d176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
}

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Anchor styling */
a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover {
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}

/* Header styling */ 
h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: 1px solid var(--h1-border-color);
}
h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: solid 1px var(--heading-border-color);
}


/* Card styling */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 600px;
    margin: 3% auto 0;
    background-color: var(--card-background-color); /* added */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color); /* replaced */
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

/* Form styling */
.form { 
    display: inline-grid;
}

.form-field {
    padding: 20px;
}

/* Button styling */
.btn {
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;
}

.btn-primary {
    background-color: var(--btn-background-color); /* replaced */
    color: var(--btn-color); /* replaced */
}

.btn-primary:hover {
    background-color: var(--btn-hover-background-color); /* replaced */
    color: var(--btn-hover-color); /* replaced */
}

.full-width {
    width: 100%;
}

/* Input styling */
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color); /* replaced */
    border-radius: 4px;
    box-sizing: border-box;
}

/* Drop-down-menu styling */
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color); /* replaced */
    border-radius: 4px;
    box-sizing: border-box;
}
