/*
============================================
; Title: Assignment 3.2 - Restaurant App
; File Name: restaurant.css
; Author: Professor Krasso
; Date: 23 January 2022
; Modified By: Seth Kerrey
; Description: 
;   Styling for the restaurant.html file.
; Resources: 
;   CSS style, classes, and id's came from guidance in the assignment instructions, 
;   style guide & buwebdev repo/web-330
;       https://github.com/buwebdev/web-330 
;       "WEB 330 HTML, CSS, and JavaScript Requirements.pdf"
===========================================
*/

.boxes {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 0px 25px;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    margin: 3% auto 0 0;
    background-color: var(--card-background-color); 
    height: 200px;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}